.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.card {
  width: 160px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

